*~
.directory
.DS_Store
tmp/**/*
tmp/*
log/*.log
db/*.sqlite3
###app/views/taglibs/auto
db/data.yml
config/database.yml
db/*.sqlite3
db/schema.rb
test/rails_root/log/*.log
doc
coverage
.svn/
.loadpath
pkg
*.kdevses
public/images/active_scaffold
public/stylesheets/active_scaffold
public/javascripts/active_scaffold
public/images/calendar_date_select
public/stylesheets/calendar_date_select/
public/javascripts/calendar_date_select/
zzz
public/clip
public/sitemaps
